# ============================
#  GITIGNORE — Samsung Project
# ============================

# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.pkl
*.egg-info/
.eggs/
*.so

# Virtual environments
venv/
env/
.venv/
ENV/

# Jupyter
.ipynb_checkpoints/

# --- OS files ---
.DS_Store
Thumbs.db
desktop.ini

# --- Logs ---
logs/
*.log

# --- Build / Distribution ---
build/
dist
